* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: rgb(19, 18, 18);
}

/* Style the search box */
#mySearch {
  width: 50%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover {
  background-color: rgb(216, 209, 209);
}
